body{border:5px solid black}
body{Background-color:lightblue;}
div{margin:20px,10px,20px;}
.header{background-color: white; text-align: center; padding: 20px;}
/*The navbar container*/
	.topnav{overflow: hidden; background-color: black;}
/*Navbar links*/
	.topnav a{float: left; display: block; color: white; text-align: center; padding: 14px 16px; text-decoration: none;}
/*Links - change color on hover*/
	.topnav a:hover{background-color: teal;color: lightblue;} 
